* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "NotoSansKR-Regular";
  font-size: 16px;
  overflow: hidden;
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("./assets/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("./assets/font/NotoSansKR-Regular.otf");
}
